PORT=8001

DATABASE_URL=
DB_SYNCHRONIZE=true
DB_LOGGING=false
DB_SSL=true

COOKIE_SECRET=
COOKIE_EXPIRES_IN=86400000

IMAGEKIT_PUBLIC_KEY=
IMAGEKIT_PRIVATE_KEY=
IMAGEKIT_URL_ENDPOINT=
IMAGEKIT_UPLOAD_FOLDER=/chat-app

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM="Chat App Support" 